es06.dtd

<!--
    studente: Lorenzo Simoni
    matricola: 549507
    corso: codifica testi 2019-20
-->
<!ELEMENT TEI (header, facsimile?, testo+)>
<!ELEMENT header (#PCDATA)>
<!ELEMENT facsimile (#PCDATA)>
<!ELEMENT testo (#PCDATA|seg)*>

<!ATTLIST header
    type CDATA #FIXED "intestazione"
    lang NMTOKEN #IMPLIED
>
<!ATTLIST facsimile
    source CDATA #REQUIRED
    ref IDREFS #IMPLIED
>
<!ATTLIST testo
    id ID #REQUIRED
    type CDATA #IMPLIED
>